<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/WEB-INF/templates/default.xhtml">
   <ui:define name="content">
      <h1>Welcome to JBoss!</h1>

      <div>
         <p>You have successfully deployed a Java EE 7 web application.</p>
         <h3>Your application can run on:</h3>
         <img src="resources/gfx/dualbrand_as7eap.png"/>
      </div>

      <h:form id="reg">
         <h2>Member Registration</h2>
         <p>Demonstrates quickstart application for Hibernate using Jboss WildFly.</p>
         <h:panelGrid columns="3" columnClasses="titleCell">
            <h:outputLabel for="id" value="Member Id (Enter unique number):"/>
            <h:inputText id="id" value="#{newMember.id}" />
            <h:message for="id" errorClass="invalid"/>

            <h:outputLabel for="name" value="Name:"/>
            <h:inputText id="name" value="#{newMember.name}" />
            <h:message for="name" errorClass="invalid"/>

            <h:outputLabel for="email" value="Email:"/>
            <h:inputText id="email" value="#{newMember.email}"/>
            <h:message for="email" errorClass="invalid"/>

            <h:outputLabel for="phoneNumber" value="Phone #:"/>
            <h:inputText id="phoneNumber" value="#{newMember.phoneNumber}"/>
            <h:message for="phoneNumber" errorClass="invalid"/>

	    <h:outputLabel for="address" value="Address:"/>
            <h:inputText id="address" value="#{newMember.address}" />
            <h:message for="address" errorClass="invalid"/>
         </h:panelGrid>

         <p>
            <h:panelGrid columns="2">
               <h:commandButton id="register" action="#{memberController.register}" value="Register" styleClass="register"/>
               <h:messages styleClass="messages" errorClass="invalid" infoClass="valid" warnClass="warning"
                           globalOnly="true"/>
            </h:panelGrid>
         </p>
      </h:form>
      <h2>Members</h2>
      <h:panelGroup rendered="#{empty members}">
         <em>No registered members.</em>
      </h:panelGroup>
      <h:dataTable var="_member" value="#{members}" rendered="#{not empty members}" styleClass="simpletablestyle">
         <h:column>
            <f:facet name="header">Id</f:facet>
                #{_member.id}
            </h:column>
         <h:column>
            <f:facet name="header">Name</f:facet>
                #{_member.name}
            </h:column>
         <h:column>
            <f:facet name="header">Email</f:facet>
                #{_member.email}
            </h:column>
         <h:column>
            <f:facet name="header">Phone #</f:facet>
                #{_member.phoneNumber}
            </h:column>
        <h:column>
            <f:facet name="header">Address #</f:facet>
                #{_member.address}
            </h:column>
      </h:dataTable>
   </ui:define>
</ui:composition>
